* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #0c101e;
    color: #fff;
}

a {
	color: #FD7C2C;
	text-decoration: none;
}
a:hover {
	color: #FD7C2C;
	filter: opacity(.8);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

.brand {
	font-size: clamp(2.5rem, 4vw, 4rem);
	line-height: 1;
    /* background: linear-gradient(315deg,#7281FD,#FD7C2C 50.5%,#FD7C2C); */
    /* color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
	text-fill-color: transparent;
    -webkit-text-fill-color: transparent; */
}
.brand .brand-codes {
    color: #FD7C2C;
}
.brand .brand-vault {
    color: #7281FD;
}
img.brand-logo {
    max-width: 200px;
    width: 100%;
}
.brand-info {
	font-size: clamp(.4rem, 4vw, .8rem);
	color: #8b8b8b;
	letter-spacing: .3px;
}

.vault {
	margin-top: 5px;
}
.vault a {
	font-size: clamp(.5rem, 4vw, .9rem);
	display: flex;
	align-items: center;
	padding: 10px 15px;
}
.vault a span {
	margin-right: 6px;
	letter-spacing: 4px;
}
